body, html {
    background-color: rgb(20, 20, 20);
    font-family: Arial, Helvetica, sans-serif;
}

header{
    display:flex;
    justify-content: center;
    background-color: rgb(32, 32, 32);
    border-radius: 0.5vw;
    position: sticky;
    top:10px;
    z-index: 1000;

}

header a{
    text-decoration: none;
    color:white;
    font-weight: bold;
    font-size: 2.5vw;
    padding:1.5vw;
    margin: 0vw 2vw 0vw 2vw;
    transition: 0.5s;

}
header a:hover{
    text-decoration: underline;
    background-color: rgb(52, 160, 56);
    transition: 0.5s;
    border-radius: 0.5vw;
}

header img{
    display:flex;
    width:5vw;
    height:3.9vw;
    padding-top:0.2vw;
}

.about-us{
    background-color: rgb(42, 42, 42);
    border-radius: 0.5vw;
    color:white;
    padding:0.5vw 2vw 0.5vw 2vw;
    text-align: left;
    font-size: 20px;
    
}
.info a{
    color:rgb(130, 165, 231);
}
.info a:hover{
    color:rgb(88, 129, 207);
}

footer{
    display:flex;
    flex-direction:column;
    color:white;
    background-color: rgb(32, 32, 32);
    padding:0.2vw 2vw 0.2vw 2vw;
}

footer .footer-content{
    display:flex;
    flex-direction: row;
    font-size: 2vw;
}


footer a{
    color:orange;
    margin:2vw;
}
footer h3, footer p{
    margin:2vw;
}
footer a:hover{
    color:rgb(255, 98, 0);
}


.credits{
    position: fixed;
    bottom: 0px;
    font-size: 2vw;
    color: rgba(87, 87, 87, 0.1); /* Semi-transparent watermark text */
    user-select: none;
    z-index: 1000;
}
.iframe-box{
    margin-left: auto;
    width:45vw;
    max-width: 600px;
}
.iframe-box iframe{
    width:100%;
    height:15vw;
    margin-top:1vw;
    border-radius: 0.5vw;
}

.triedy{
    color:rgb(0, 255, 153);
}

/*galeria*/
.gallery{
    text-align: center;
}
.grid{
    display:flex;
    flex-direction: column;
    align-items: center;
}
.row{
    display:flex;
    flex-direction: row;

}

.image-container{
    width: 30vw;
    padding:10px;
    position: relative;
}
.image-container img {
    width: 100%;

}

.image-text{
    position: absolute;
    transform: translateX(-50%);
    left:50%;
    color: rgb(255, 255, 255);
    bottom:20px;
    font-size: 2.5vw;
    text-shadow: 5px 5px 5px black;
    user-select: none;
}

.image-container img:hover{
    width:29vw;
    object-fit: scale-down;
    transition:0.3s;
}


@media (max-width:600px){
.row{
    flex-direction: column;
    
}
.grid{
    flex-direction: row;
    justify-content: space-evenly;

}
.image-container img{
    width: 35vw;
}

.credits{
    font-size: 3.5vw;
}
}    




@media (min-width:1000px){
    header a{
        font-size:1vw;
    }
    .about-us{
        margin: 0% 2% 0% 2%;
    }
    footer .footer-content{
        display:flex;
        flex-direction: row;
        font-size: 1.2vw;
    }
}
