body, html {
    background-color: rgb(20, 20, 20);
    font-family: Arial, Helvetica, sans-serif;
}

header{
    display:flex;
    justify-content: center;
    background-color: rgb(32, 32, 32);
    border-radius: 0.5vw;
    position: sticky;
    top:10px;

}

header a{
    text-decoration: none;
    color:white;
    font-weight: bold;
    font-size: 2.5vw;
    padding:1.5vw;
    margin: 0vw 2vw 0vw 2vw;
    transition: 0.5s;

}
header a:hover{
    text-decoration: underline;
    background-color: rgb(52, 160, 56);
    transition: 0.5s;
    border-radius: 0.5vw;
}

.about-us{
    background-color: rgb(42, 42, 42);
    border-radius: 0.5vw;
    color:white;
    padding:0.5vw 2vw 0.5vw 2vw;
    text-align: left;
    font-size: 20px;
    
}
.info a{
    color:rgb(66, 54, 149);
}

footer{
    display:flex;
    flex-direction:column;
    color:white;
    background-color: rgb(32, 32, 32);
    padding:0.2vw 2vw 0.2vw 2vw;
}

footer .footer-content{
    display:flex;
    flex-direction: row;
    font-size: 2vw;
}


footer a{
    color:orange;
    margin:2vw;
}
footer h3, footer p{
    margin:2vw;
}
footer a:hover{
    color:rgb(255, 98, 0);
}


.credits{
    color:rgb(146, 146, 146);
    font-size: 1.2vw;
}
.iframe-box{
    margin-left: auto;
    width:45vw;
    max-width: 600px;
}
.iframe-box iframe{
    width:100%;
    height:15vw;
    margin-top:1vw;
    border-radius: 0.5vw;
}

.triedy{
    color:rgb(0, 255, 153);
}


@media (min-width:1000px){
    header a{
        font-size:1vw;
    }
    .about-us{
        margin: 0% 2% 0% 2%;
    }
    footer .footer-content{
        display:flex;
        flex-direction: row;
        font-size: 1.2vw;
    }
}